@rem:100rem;
@base-color:#fa9144;
body,div,p,ul,li,p,span,img,a{
    margin: 0;
    padding: 0;
}
body{
    font-family:Helvetica,sans-serif;
    color: #888;
    font-size: 14px;
}
img{
    border:0;
}
a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}
.container{
    max-width: 768px;
    margin: 0 auto;
    padding-top: 150/@rem;
}
.red_txt{
    color: #f00000;
}
.title{
    height: 60/@rem;
    line-height: 60/@rem;
    background-color: #eee;
    padding-left: 20/@rem;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    a{
        display: flex;
         align-items: center;
          color: @base-color;
    }
    i{
        display: block;
        width: 20px;
        height: 14px;
        background: url('../../assets/images/icon-news.png') no-repeat;
        background-size: 20px 14px;
        margin-right: 10/@rem;
    }
}
.content{
    padding:20/@rem;
    h3{
        font-weight: normal;
        font-size: 16px;
        margin: 0 0 10/@rem;
        color: #333;
    }
    p{
        line-height: 20px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
.time{
        display: flex;
        font-size: 12px;
        padding-top: 14/@rem;
        align-items:center;
        i{
            display: block;
            width: 14px;
            height: 14px;
            background: url('../../assets/images/icon-time.png') no-repeat;
            background-size: 14px;
            margin-right: 10/@rem;

        }
    }